<clui-card>
  <ng-container headingContent>
    Todo List
  </ng-container>
  <ng-container bodyContent>
    <div class="Container">
      <h2>My Todos:</h2>

      <div *ngIf="todoError?.message">
        <div class="alert alert-danger" role="alert">
          Some error occurred. Please try again
        </div>
      </div>

      <ng-container *ngFor="let todo of ToDoList">
        <div class="row my-1" >
          <div class="col-md-2">Name: {{ todo.Title }}</div>
          <div class="col-md-2">IsCompleted: {{ todo.IsCompleted }}</div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-sm" (click)="delete(todo)">Delete Todo</button>
          </div>
        </div>
      </ng-container>
    </div>

    <hr />

    <div class="container form-group" style="margin: 10px;">
      <h3>Create new Todo</h3>
      <form (ngSubmit)="createToDo()">
        <div class="row">
          <div class="form-group col-md-4">
            <input [(ngModel)]="Title" placeholder="Enter your Todo" class="form-control" name="Title"
              style="min-width: 150px;" />
          </div>

          <div class="col-md-4 form-check">
            <div class="custom-control-stacked"><label class="custom-control custom-checkbox"><input
                  class="custom-control-input checkbox-primary " tabindex="0" type="checkbox" name="demoCheckbox1"
                  aria-labelledby="demoCheckbox1" value="A-Wing Fighter"><span
                  class="custom-control-indicator"></span><span class="custom-control-description"
                  id="demoCheckbox1">Completed?</span></label>

              <input type="checkbox" class="custom-control-input checkbox-primary" id="IsCompleted" name="IsCompleted"
                [(ngModel)]="IsCompleted" />
            </div>
          </div>

          <div class="col-md-4">
            <button type="submit" class="btn btn-primary">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>

  </ng-container>
</clui-card>